body {
  position: relative;
}

.page {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.25S ease-in-out;
  margin: 35px;
  background-color: red;
  z-index: 10;
}

.js-active {
  width: 350px;
  height: 100vh;
  overflow: hidden;
  border-radius: 0%;
  transition: 0.25S ease-in-out;
  margin: 0;
  background-color: transparent;
}

.matter-container {
  width: calc(350px - 1PX);
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: aquamarine;
  z-index: 1;
}

.svgs {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: -100px;
}

.shape-embed {
  position: absolute;
}

#custom-svg,
#custom-svg2,
#custom-svg3,
#custom-svg4,
#custom-svg5 {
  position: relative;
  z-index: -10;
  width: 100vw;
  height: 1060px;

}

#matter-path,
#matter-path2,
#matter-path3,
#matter-path4,
#matter-path5 {
  position: relative;
  top: 50px;
  width: 100px;
  height: 100px;
}

.number-embed {
  display: inline-block;
  width: 100px;
  color: #464655;
}

.grid {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.heading {
  color: #eca869;
}